.main-footer {
    color: #fff;
    background-color: #6930c3;
    padding-top: 1.5rem;
    // position: relative;
    bottom: 0;
    // width: 100%;
    margin-top: 5%;
}

.social-icon:hover {
    color: white;
}

.social-icon {
    color: white;
}
