hr {
    background-color:#e3f2fd;
}
.course {
    &:hover {
        box-shadow: 3px 3px 3px 2px rgb(165, 224, 252); 
        transition-duration: 0.3s;
    }
    &__code {
        background-color: #e3f2fd;
        font-size: 20px;
    }
}