.nav {
  background-color: transparent;
}

.btn__sign {
  // background-image: linear-gradient(180deg, hsla(34, 91%, 64%, 1) 0%, hsla(8, 100%, 68%, 1) 100%);;
  // background-image: -moz-linear-gradient(180deg, hsla(34, 91%, 64%, 1) 0%, hsla(8, 100%, 68%, 1) 100%);
  background-color: transparent;
  // box-shadow: 0px 4px 3px 1px rgba(238,103,97,0.5);
  border: solid 2px #f7ae50;
  font-size: 100%;
  color: #fffcf7;
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;

  &:hover,
  &:focus,
  &:active {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.09);
    border: none;
    border: solid 2px #f7ae50;
    box-shadow: none;
    outline-style: none;
  }
}

.src__form {
  font: 1em/1.618 Open Sans, Arial, Sans-serif;
  color: #f7ae50;
  border: 0.125em solid #f7ae50;
  border-width: 0 0 3px;
  background-color: transparent;
  padding: 0.1875em 0.375em;
  &:focus,
  &:active {
    background-color: transparent;
    color: #f7ae50;
    text-decoration: none;
  }
  &::placeholder {
    color: #fffcf7;
    font-family: "Roboto", sans-serif;
  }
}
textarea:focus,
input:focus {
  outline-style: none;
}
*:focus {
  outline-style: none;
}
