.ccourse {
    /*   position: fixed;
      bottom: 2%;
      right: 1%;
      z-index: 9999;
      border: none;
      text-decoration: none !important;
      background-color: #ff715b;
      color: white;
      padding: 15px 20px 15px 20px;
      text-align: center;
      display: inline-block;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0px 0px 5px 1px rgb(179, 177, 177);
      &:focus, &:active {
        outline: none;
        box-shadow: none;
      } */
    }
    
    /* .form-group {
      padding: 10px;
      border: 2px solid;
      margin: 10px;
    }
    .form-group > label {
      position: absolute;
      top: -1px;
      left: 20px;
      background-color: white;
    }
    
    .form-group > input {
      border: none;
    } */
    